* 

{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }

body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}




.header{
  background: #7CAA3C;
  display: flex;
  flex-direction: row;
  width: 100%;

}


.header .container .header__wrapper .branding img{
  background-color: transparent;
  width: 100px;
  height: 100px;
}

.header .container .header__wrapper .header__nav ul{
list-style-type: none;
padding: 0px;
margin: 0px;
overflow: hidden;
padding-top: 2.5rem;
margin-left: auto;
}

.header .header__wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container{
  width: 100%;
}

.header__nav{
  margin-left: auto;
}



.header__nav a{
  color: #DFE0A3;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.header__nav a:hover{
  color: black;
}

.header__nav li{
  float: left;
  position: relative;
}



.dropdown{
  padding-top: 1rem;
  display: inline-block;
}

.dropdown button{
  background-color: transparent;
  color: #DFE0A3;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.dropdown a{
  display: block;
  color: #DFE0A3;
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown button:hover{
  color: black;
}

.dropdown .content{
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  background-color: #7CAA3C;
  min-width: 180px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
  white-space: nowrap;
}

.dropdown:hover .content{
  display: block;
}